<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="warn"/>
    <logger name="org.mongodb.driver" level="info"/>
    <logger name="io.vertx" level="info"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>