<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>CUSTOM_REGISTRY_URL</id>
            <username>YOUR_USER_NAME</username>
            <password>PASSWORD_ENCRYPT_BY_MAVEN</password>
        </server>
    </servers>
</settings>