name: "Validate Gradle Wrapper"
on: [push, pull_request]

jobs:
  validation:
    name: "Gradle wrapper validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: gradle/wrapper-validation-action@v3.5.0
