name: Prepare Jib release
on:
  workflow_dispatch:
    inputs:
      project:
        description: Jib project to release
        required: true
        default: (build-plan | core | maven | gradle | extension-common | maven-extension | gradle-extension)
      release_version:
        description: new release version
        required: true
        default: (for example, 0.1.0)

permissions:
  contents: write
  issues: write

jobs:
  release:
    name: Prepare Jib release
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Check input
        run: |
          echo '* input project: "${GITHUB_EVENT_INPUTS_PROJECT}"'

          case ${GITHUB_EVENT_INPUTS_PROJECT} in
            build-plan|core|maven|gradle|extension-common|maven-extension|gradle-extension) ;;
            *) echo 'invalid input project name "${GITHUB_EVENT_INPUTS_PROJECT}"'
               exit 1
               ;;
          esac
          if [[ ! "${GITHUB_EVENT_INPUTS_RELEASE_VERSION}" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo 'version "${GITHUB_EVENT_INPUTS_RELEASE_VERSION}" not in ###.###.### format'
            exit 1
          fi
        env:
          GITHUB_EVENT_INPUTS_PROJECT: ${{ github.event.inputs.project }}
          GITHUB_EVENT_INPUTS_RELEASE_VERSION: ${{ github.event.inputs.release_version }}

      - name: Build project
        run: |
          # TODO: run integration test? (Requries auth with GCP.)
          ./gradlew clean build --stacktrace

      - name: Run Gradle release
        run: |
          git checkout -b ${GITHUB_EVENT_INPUTS_PROJECT}-release-v${GITHUB_EVENT_INPUTS_RELEASE_VERSION}
          git config user.email ${GITHUB_ACTOR}@users.noreply.github.com
          git config user.name ${GITHUB_ACTOR}

          PROJECT=$( case ${GITHUB_EVENT_INPUTS_PROJECT} in
            extension-common) echo jib-plugins-extension-common ;;
            maven-extension)  echo jib-maven-plugin-extension-api ;;
            gradle-extension) echo jib-gradle-plugin-extension-api ;;
            maven|gradle)     echo jib-${GITHUB_EVENT_INPUTS_PROJECT}-plugin ;;
            *)                echo jib-${GITHUB_EVENT_INPUTS_PROJECT} ;;
          esac )
          # This creates the tag (e.g., "v0.1.0-gradle") and pushes the updated
          # branch (e.g., "gradle-release-v0.1.0") and the new tag.
          ./gradlew "${PROJECT}":release \
            -Prelease.useAutomaticVersion=true \
            -Prelease.releaseVersion=${GITHUB_EVENT_INPUTS_RELEASE_VERSION}
        env:
          GITHUB_EVENT_INPUTS_PROJECT: ${{ github.event.inputs.project }}
          GITHUB_EVENT_INPUTS_RELEASE_VERSION: ${{ github.event.inputs.release_version }}

      - name: Create pull request
        uses: repo-sync/pull-request@v2.12.1
        id: create-pr
        with:
          github_token: ${{ secrets.CLOUD_JAVA_BOT_GITHUB_TOKEN }}
          source_branch: ${{ github.event.inputs.project }}-release-v${{ github.event.inputs.release_version }}
          pr_title: "${{ github.event.inputs.project }} release v${{ github.event.inputs.release_version }}"
          pr_body: "To be merged after the release is complete."
          pr_label: "PR: Merge After Release"

      - name: Draft Maven/Gradle GitHub release
        uses: actions/create-release@v1.1.4
        id: create-plugin-release
        if: ${{ github.event.inputs.project == 'maven' || github.event.inputs.project == 'gradle' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ github.event.inputs.release_version }}-${{ github.event.inputs.project }}
          release_name: jib-${{ github.event.inputs.project }}-plugin v${{ github.event.inputs.release_version }}
          draft: true
          body: |
            **Run `./jib-${{ github.event.inputs.project }}-plugin/scripts/update_gcs_latest.sh ${{ github.event.inputs.release_version }}`
            when the release is complete to update the latest version string on GCS.**

            ---
            ### Major Changes

            See [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-${{ github.event.inputs.project }}-plugin/CHANGELOG.md) for more details.

      - name: Create Maven/Gradle release checklist issue
        uses: JasonEtco/create-an-issue@v2.9.2
        if: ${{ github.event.inputs.project == 'maven' || github.event.inputs.project == 'gradle' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RELEASE_NAME: v${{ github.event.inputs.release_version }}-${{ github.event.inputs.project }}
          CHANGELOG_URL: https://github.com/GoogleContainerTools/jib/blob/master/jib-${{ github.event.inputs.project }}-plugin/CHANGELOG.md
          README_URL: https://github.com/GoogleContainerTools/jib/blob/master/jib-${{ github.event.inputs.project }}-plugin/README.md
          GCS_UPDATE_SCRIPT: "`./jib-${{ github.event.inputs.project }}-plugin/scripts/update_gcs_latest.sh ${{ github.event.inputs.release_version }}`"
          RELEASE_DRAFT: ${{ steps.create-plugin-release.outputs.html_url }}
          RELEASE_PR: ${{steps.create-pr.outputs.pr_url}}
        with:
          filename: .github/RELEASE_TEMPLATES/plugin_release_checklist.md

      - name: Draft Core GitHub release
        uses: actions/create-release@v1.1.4
        id: create-core-release
        if: ${{ github.event.inputs.project == 'core' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ github.event.inputs.release_version }}-core
          release_name: jib-core v${{ github.event.inputs.release_version }}
          draft: true
          body: |
            ### Major Changes

            See [CHANGELOG.md](https://github.com/GoogleContainerTools/jib/blob/master/jib-core/CHANGELOG.md) for more details.

      - name: Create Core release checklist issue
        uses: JasonEtco/create-an-issue@v2.9.2
        if: ${{ github.event.inputs.project == 'core' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RELEASE_NAME: v${{ github.event.inputs.release_version }}-core
          CHANGELOG_URL: https://github.com/GoogleContainerTools/jib/blob/master/jib-core/CHANGELOG.md
          README_URL: https://github.com/GoogleContainerTools/jib/blob/master/jib-core/README.md
          RELEASE_DRAFT: ${{ steps.create-core-release.outputs.html_url }}
          RELEASE_PR: ${{steps.create-pr.outputs.pr_url}}
        with:
          filename: .github/RELEASE_TEMPLATES/core_release_checklist.md
