name: Unit Tests
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [8, 11]
    env:
      # for gradle
      TERM: dumb
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}
      - uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Run tests
        run: |
          ./gradlew clean build jacocoTestReport --stacktrace

  gradle9-java17-test:
    name: Gradle 9 compatibility test (Java 17)
    runs-on: ubuntu-latest
    env:
      TERM: dumb
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 17
      - uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 9.2.1
      - name: Run Gradle 9 compatibility test
        run: |
          gradle :jib-gradle-plugin:test --tests "*FilesTaskV2Test.testFilesTask_multiProjectComplexService_gradle9" -x jacocoTestReport --stacktrace