name: Unit Tests
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
          - java: 11
          - java: 17
            gradle-version: 9.0
    env:
      # for gradle
      TERM: dumb
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: ${{ matrix.gradle-version || 'wrapper' }}
      - name: Run tests
        run: |
          gradle clean build jacocoTestReport --stacktrace
